Session.vim
tsukae/
.vim
.config
.ssh
package.json
package-lock.json
yarn.lock
!.ssh/config
!.config/karabiner/karabiner.json
!.config/karabiner/kana.json
!.config/nvim/init.vim
!.config/nvim/init
!.config/fish/config.fish
!.config/fish/conf.d
!.config/fish/functions/fish_user_key_bindings.fish
!.config/fish/functions/tmuxpopup.fish
!.config/ranger/rc.conf
!.config/lazygit/config.yml
