[merge]
	ff = false
[pull]
	ff = only
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim -c \"set fenc=utf-8\"
	precomposeunicode = true
	quotepath = false
	pager = less -c
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[mergetool "nvimdiff"]
  cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
[user]
	name = m-hamashita
	email = masakatsu.hamashita@gunosy.com
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = simple
[alias]
	co = checkout
	st = status
    taglog = "log --tags --simplify-by-decoration --pretty=\"format:%ci %d\""
[alists]
	ci = commit -a
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[ghq]
	root = ~/Documents/work
[difftool]
	prompt = false
[branch]
	sort = -authordate
# [url "ssh://git@github.com/"]
#     insteadOf = https://github.com/
[url "ssh://git@github.com/gunosy"]
    insteadOf = https://github.com/gunosy
# [url "git@github.com:"]
#     insteadOf = https://github.com/
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
