[merge]
	ff = false
[pull]
	ff = only
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim -c \"set fenc=utf-8\"
	precomposeunicode = true
	quotepath = false
	pager = less -c
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[mergetool "nvimdiff"]
  cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
[user]
	name = m.hama
	email = masakatsu.hamashita@gunosy.com
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = simple
[alias]
	co = checkout
	st = status
[alists]
	ci = commit -a
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[ghq]
	root = ~/Documents/work
[difftool]
	prompt = true
[branch]
	sort = -authordate
