#!/usr/bin/env bash
set -eu

{{- if eq .chezmoi.os "darwin" }}

if ! grep -qxF "/opt/homebrew/bin/fish" /etc/shells; then
    echo "Adding fish to /etc/shells, you may be prompted for your password"
    echo "/opt/homebrew/bin/fish" | sudo tee -a /etc/shells
fi

if [ "$(dscl . -read /Users/$USER UserShell | awk '{print $2}')" != "/opt/homebrew/bin/fish" ]; then
    echo "Changing shell to fish, you may be prompted for your password"
    user="$(id -nu)"
    sudo chsh -s /opt/homebrew/bin/fish "$user"
fi

{{- end }}

{{- if eq .chezmoi.os "linux" }}
# Ensure fish is in /etc/shells
fish_path="$(command -v fish)"
if ! grep -qxF "$fish_path" /etc/shells; then
    echo "Adding fish to /etc/shells"
    echo "$fish_path" | sudo -n tee -a /etc/shells >/dev/null
fi

# Set shell to fish if not already set
current_shell="$(getent passwd "$USER" | cut -d: -f7 || true)"
if [ "$current_shell" != "$fish_path" ]; then
  echo "Changing login shell to fish"
  sudo -n usermod -s "$fish_path" "$USER"
fi
{{ end -}}
