#!/usr/bin/env bash
set -eu

{{- if eq .chezmoi.os "darwin" }}

echo ""
echo "Applying macOS cursor settings..."
echo ""

cat vscode-extensions.txt | xargs -L 1 cursor --install-exntension

echo "Done applying cursor settings."

{{- end }}

