#!/usr/bin/env bash
set -eu

{{ if eq .chezmoi.os "darwin" }}
    brew update
    brew bundle --file="$HOME/.Brewfile"
{{ end }}

# rustup
if ! command -v rustup >/dev/null 2>&1; then
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --no-modify-path -y
else
    echo "rustup is already installed"
fi
