{{- if eq .chezmoi.os "darwin" }}# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config
{{- end }}

ServerAliveInterval 240

Include ~/.ssh/config_local

{{- if eq .chezmoi.os "darwin" }}
Host *
  UseKeychain yes
  AddKeysToAgent yes
{{- end }}

Host github
  HostName github.com
  IdentityFile ~/.ssh/id_ed25519
  StrictHostKeyChecking no
  User git

Host raspi
  HostName raspberrypi.local
  IdentityFile ~/.ssh/id_ed25519
  Port 50001
  User mpeg
